[submodule "iam-service"]
	path = iam-service
	url = https://github.com/ambuj1008/iam-service.git
[submodule "onboarding-service"]
	path = onboarding-service
	url = https://github.com/ambuj1008/onboarding-service.git
[submodule "os"]
	path = os
	url = https://github.com/ambuj1008/os.git
[submodule "ut"]
	path = ut
	url = https://github.com/ambuj1008/ut.git
